{% extends 'dash.html' %}
{% load static %}

{% block content %}
<style>
.static {
    position: relative;
  }
</style>

<div class="static">
    <div class="col-xl-4 ">
    <br>
    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">12 STEM 核心課程</h6>
                    <h5 class="h3 mb-0">3D 打印</h5>
                </div>
            </div>
        </div>
    <div class="card-body">
            <!-- Chart -->
    </div>
    </div>
    <!--------------------------------line----------------------------------------->
    <div class="card" >
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">12 STEM 核心課程</h6>
              <h5 class="h3 mb-0">3D 打印</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
        </div>
      </div>
    <!--------------------------------line----------------------------------------->
    </div>
</div>
{% endblock %}