{% extends 'login_index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!--<div class="content-section">
        <legend class = "text-center border-bottom mb-5">Join Today</legend>
            <div class="form-group">
        <pre>
            <a href="{% url 'tutor_register' %}" class="btn btn-outline-info">我是導師</a>
            <br>
            <a href="{% url 'student_register' %}" class="btn btn-outline-info">我是學生</a>
            <br> 
        <a href="{% url 'school_register' %}" class="btn btn-outline-info">申請學校專用帳戶</a>
        </pre>
            </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class = "ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
        </div>-->


        <style>
        body {
          background-image: url("/static/img/teacherRegPage.jpeg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
        
            <div class="content-section">
                <form action="{% url 'tutor_register' %}" method="POST" novalidate>
                    {% csrf_token %}
                        <div class="form-group">
                            <legend class = "border-bottom mb-4">Algae User Register</legend>
                            {{ form|crispy }}
                        </div>
                        <div class="form-group"> <button class="btn btn-outline-info" type="submit">Sign Up</button> </div>
        
                </form>
                <div class="border-top pt-3"> <small class="text-muted"> Already Have An Account? <a class = "ml-2" href="{% url 'login' %}">Sign In</a></small></div>
            </div>

{% endblock %}