{% extends 'dash.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--------------------------------pop up class and price list---------------------------------------->
<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #5e72e4 ;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .submit-button {
    background-color: #525f7f ;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    color: white;
    background-color: #555;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .hr-edge-weak {
    border: 0;
    padding-top: 2px;
    background: linear-gradient(to right, transparent, #d0d0d5, transparent);
  }
  </style>
  <!--------------------------------pop up class and price list---------------------------------------->
  <!-- Main content -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

  <div class="main-content" id="panel">
    <div class="container">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <legend class = "border-bottom mb-4 pt-4">新增興趣班</legend>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.course_option|as_crispy_field}}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.classPlace|as_crispy_field}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 mb-0" aria-readonly="true">
                {{ form.classDates|as_crispy_field}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.classStartTime|as_crispy_field}}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.classEndTime|as_crispy_field}}
              </div>
            </div>
            <div class="form-group">
              {{ form.content|as_crispy_field}}
            </div>
            <div class="form-group "> <button class="submit-button pl-5 pr-5" type="submit">Post Class</button> </div>
        </form>
    </div>
  </div>
    <!--------------------------------pop up class and price list---------------------------------------->
    <button class="open-button" onclick="openForm()">
      查閱課程價目
    </button>

    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h2>12 STEM價目表</h2>
        <span style="padding-right:100px">1. 3D printing</span><span style="padding-left:20px"></span>$25000</span>
        <span style="padding-right:100px">2. 機械人</span><span style="padding-left:50px"></span>$25000</span>
        <span style="padding-right:100px">3. 機械臂</span><span style="padding-left:50px"></span>$25000</span>
        <span style="padding-right:100px">4. 電動車</span><span style="padding-left:50px"></span>$25000</span>
        <span style="padding-right:100px">5. 再生能源</span><span style="padding-left:35px"></span>$25000</span>
        <span style="padding-right:100px">6. 室內種植</span><span style="padding-left:35px"></span>$25000</span>
        <span style="padding-right:100px">7. 學習編程</span><span style="padding-left:35px"></span>$25000</span>
        <span style="padding-right:100px">8. 太空知識</span><span style="padding-left:35px"></span>$25000</span>
        <span style="padding-right:100px">9. 新科技金融</span><span style="padding-left:20px"></span>$25000</span>
        <span style="padding-right:100px">10. 科學探究</span><span style="padding-left:28px"></span>$25000</span>
        <span style="padding-right:100px">11. 數理學</span><span style="padding-left:45px"></span>$25000</span>
        <span style="padding-right:100px">12. 邏輯思維</span><span style="padding-left:28px"></span>$25000</span>
        <hr class="my-3">
        <h2>普通興趣班價目表</h2>
        <span style="padding-right:100px">1. 畫畫班</span><span style="padding-left:50px"></span>$15000</span>
        <span style="padding-right:100px">2. 手作班</span><span style="padding-left:50px"></span>$15000</span>
        <span style="padding-right:100px">3. 珠心算</span><span style="padding-left:50px"></span>$15000</span>
        <span style="padding-right:100px">4. 魔術班</span><span style="padding-left:50px"></span>$15000</span>
        <button type="button" class="btn cancel" onclick="closeForm()">關閉</button>
      </form>
    </div>
    
    <script>
    $('#id_classDates').addClass("date");
    $('.date').datepicker({
        format: 'yyyy-mm-dd',
        multidate: 20
    });

    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
<!--------------------------------pop up class and price list---------------------------------------->
{% endblock %}