{% extends 'dash.html' %}
{% load static %}

{% block content %}
  <div class="header bg-warning pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-8">
            <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
              </ol>
            </nav>
          </div>
          <!--
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>-->
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">今學期班數</h5>
                    <span class="h2 font-weight-bold mb-0">30</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <!--<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">較上星期</span>-->
                  <br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">今日班數</h5>
                    <span class="h2 font-weight-bold mb-0">5</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">今日導師點名</h5>
                    <span class="h2 font-weight-bold mb-0">4/5</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2">林大志&#10003;</span><span class="text-success mr-2">陳強&#10003;</span><span class="text-success mr-2">陳友&#10003;</span><span class="text-success mr-2">張明&#10003;</span>
                  <span class="text-danger mr-2">李小明&#10540;</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-8">
        <div class="card bg-yellow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">時間表</h5>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>      
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <script type="text/javascript" src="{% static "scheduleCssJs\jsCalendar.js" %}"></script>
              <style>
                .jsCalendar.clean-theme tbody td.jsCalendar-previous, .jsCalendar.clean-theme tbody td.jsCalendar-next {
                  color: #000;
                  opacity: 0.2;
                }
                #wrapper {
                  margin: 0 auto;
                  width: 800px;
                  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
                }
                #wrapper .jsCalendar table {
                  box-shadow: none;
                }
                .clear {
                  clear: both;
                }
                #events-calendar {
                  float: left;
                }
                #events {
                  float: left;
                  width: 326px;
                  margin: 10px 20px 10px 5px;
                }
                #events .title {
                  padding: 5px 0px;
                  text-align: center;
                  font-weight: bold;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                }
                #events .subtitle {
                  padding: 5px 0px;
                  font-size: 14px;
                  text-align: center;
                  color: #888;
                }
                #events .list {
                  height: 187px;
                  overflow-y: auto;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
                #events .list .event-item {
                  line-height: 24px;
                  min-height: 24px;
                  padding: 2px 5px;
                  border-top: 1px solid rgba(0, 0, 0, 0.2);
                }
                #events .list .event-item .close {
                  font-family: Tahoma, Geneva, sans-serif;
                  font-weight: bold;
                  font-size: 12px;
                  color: #000;
                  border-radius: 8px;
                  height: 14px;
                  width: 14px;
                  line-height: 12px;
                  text-align: center;
                  float: right;
                  border: 1px solid rgba(0, 0, 0, 0.5);
                  padding: 0px;
                  margin: 5px;
                  display: block;
                  overflow: hidden;
                  background: #F44336;
                  cursor: pointer;
                }
                #events .action {
                  text-align: right;
                }
                #events .action input {
                  padding: 0px 5px;
                  font-size: 12px;
                  margin: 10px 5px;
                  border: 1px solid #999999;
                  height: 28px;
                  line-height: 28px;
                  width: 120px;
                  background: #f8f8f8;
                  color: black;
                  cursor: pointer;
                  transition: all 0.2s;
                }
                #events .action input:hover {
                  background: #eee;
                  border: 1px solid #000;
                  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
                }
                .version {
                  font-size: 12px;
                  width: 800px;
                  margin: 0 auto;
                  text-align: right;
                }
              </style>
              
              
              
              
              
              
              <!-- Wrapper -->
              <div id="wrapper">
                <!-- Calendar element -->
                <div id="events-calendar"></div>
                <!-- Events -->
                <div id="events"></div>
                <!-- Clear -->
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <!-- Create the calendar -->
              <script type="text/javascript">
                // Get elements
                var elements = {
                  // Calendar element
                  calendar : document.getElementById("events-calendar"),
                  // Input element
                  events : document.getElementById("events")
                }
              
                // Create the calendar
                elements.calendar.className = "clean-theme";
                var calendar = jsCalendar.new(elements.calendar);
              
                // Create events elements
                elements.title = document.createElement("div");
                elements.title.className = "title";
                elements.events.appendChild(elements.title);
                elements.subtitle = document.createElement("div");
                elements.subtitle.className = "subtitle";
                elements.events.appendChild(elements.subtitle);
                elements.list = document.createElement("div");
                elements.list.className = "list";
                elements.events.appendChild(elements.list);
                elements.actions = document.createElement("div");
                elements.actions.className = "action";
                elements.events.appendChild(elements.actions);
                elements.addButton = document.createElement("input");
                elements.addButton.type = "button";
                elements.addButton.value = "Add";
                elements.actions.appendChild(elements.addButton);
              
                var events = {};
                var date_format = "DD/MM/YYYY";
                var current = null;
              
                var showEvents = function(date){
                  // Date string
                  var id = jsCalendar.tools.dateToString(date, date_format, "en");
                  // Set date
                  current = new Date(date.getTime());
                  // Set title
                  elements.title.textContent = id;
                  // Clear old events
                  elements.list.innerHTML = "";
                  // Add events on list
                  if (events.hasOwnProperty(id) && events[id].length) {
                    // Number of events
                    elements.subtitle.textContent = events[id].length + " " + ((events[id].length > 1) ? "events" : "event");
              
                    var div;
                    var close;
                    // For each event
                    for (var i = 0; i < events[id].length; i++) {
                      div = document.createElement("div");
                      div.className = "event-item";
                      div.textContent = (i + 1) + ". " + events[id][i].name;
                      elements.list.appendChild(div);
                      close = document.createElement("div");
                      close.className = "close";
                      close.textContent = "×";
                      div.appendChild(close);
                      close.addEventListener("click", (function (date, index) {
                        return function () {
                          removeEvent(date, index);
                        }
                      })(date, i), false);
                    }
                  } else {
                    elements.subtitle.textContent = "No events";
                  }
                };
              
                var removeEvent = function (date, index) {
                  // Date string
                  var id = jsCalendar.tools.dateToString(date, date_format, "en");
              
                  // If no events return
                  if (!events.hasOwnProperty(id)) {
                    return;
                  }
                  // If not found
                  if (events[id].length <= index) {
                    return;
                  }
              
                  // Remove event
                  events[id].splice(index, 1);
              
                  // Refresh events
                  showEvents(current);
              
                  // If no events uncheck date
                  if (events[id].length === 0) {
                    calendar.unselect(date);
                  }
                }
              
                // Show current date events
                showEvents(new Date());
              
                // Add events
                calendar.onDateClick(function(event, date){
                  // Update calendar date
                  calendar.set(date);
                  // Show events
                  showEvents(date);
                });
              
                elements.addButton.addEventListener("click", function(){
                  // Get event name
                  //var names = ["John", "Bob", "Anna", "George", "Harry", "Jack", "Alexander"];
                  var name = prompt(
                    "Event info",
                    //names[Math. floor(Math.random() * names.length)] + "'s birthday."
                  );
              
                  //Return on cancel
                  if (name === " "|| name === "") {
                    return;
                  }
              
                  // Date string
                  var id = jsCalendar.tools.dateToString(current, date_format, "en");
              
                  // If no events, create list
                  if (!events.hasOwnProperty(id)) {
                    // Create list
                    events[id] = [];
                  }
              
                  // If where were no events
                  if (events[id].length === 0) {
                    // Select date
                    calendar.select(current);
                  }
              
                  // Add event
                  events[id].push({name : name});
              
                  // Refresh events
                  showEvents(current);
                }, false);
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">注意事項</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Page visits</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive"><!-- make blank for each info -->

            <!-- Projects table -->
            <!--
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Page name</th>
                  <th scope="col">Visitors</th>
                  <th scope="col">Unique users</th>
                  <th scope="col">Bounce rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    /argon/
                  </th>
                  <td>
                    4,569
                  </td>
                  <td>
                    340
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/index.html
                  </th>
                  <td>
                    3,985
                  </td>
                  <td>
                    319
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/charts.html
                  </th>
                  <td>
                    3,513
                  </td>
                  <td>
                    294
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/tables.html
                  </th>
                  <td>
                    2,050
                  </td>
                  <td>
                    147
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/profile.html
                  </th>
                  <td>
                    1,795
                  </td>
                  <td>
                    190
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Social traffic</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>-->

          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Referral</th>
                  <th scope="col">Visitors</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Facebook
                  </th>
                  <td>
                    1,480
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">60%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Facebook
                  </th>
                  <td>
                    5,480
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">70%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Google
                  </th>
                  <td>
                    4,807
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">80%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Instagram
                  </th>
                  <td>
                    3,678
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">75%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    twitter
                  </th>
                  <td>
                    2,645
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">30%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}