{% extends 'dash.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "datepickerFile\datepicker1.js" %}"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="{% static "datepickerFile\datepicker.css" %}" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="{% static "datepickerFile\datepicker.js" %}"></script>
<link rel="stylesheet" href="{% static "datepickerFile\datepicker1.css" %}"/>

<!--  here up and down-->


<div class="header pb-6 d-flex align-items-center" style="min-height: 300px; background-image: url({{ user.profile.image.url }}); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        {% if user.is_tutor %}
          <h3 class="display-2 text-white">你好 {{ user }}</h3> <!--Harry Name-->
          <p class="text-white mt-0 mb-5">您可以在此更改您的個人資料，詳盡的個人資料能讓您更快更容易配對成功。</p>
        {% elif user.is_school %}
          <h1 class="display-3 text-white">{{ user }}，歡迎使用Cramatch。</h1>
          <p class="text-white mt-0 mb-5">您有任何問題，請除時撥打熱線：5408 9634。</p>
        {% endif %}

        <!--<a href="#!" class="btn btn-neutral">更改 個人資訊</a>-->
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<!--
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="#" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="{{ user.profile.image.url }}" >
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="#">已教過的學生</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="#">正在教的學生</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="#">為您帶來的收益</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ user }}<span class="font-weight-light">, 27</span>
            </h5>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">更改 profile </h3>
            </div>
            <!--
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>-->
          </div>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class=" form-group form-group-sm">
              {% if user.is_tutor %}
                {{ u_form|crispy }}
                {{ p_form.image|as_crispy_field }}
                {{ p_form.gender_field|as_crispy_field }}
                {{ p_form.ch_last_name|as_crispy_field }}
                {{ p_form.ch_first_name|as_crispy_field }}
                {{ p_form.date_of_birth|as_crispy_field }}
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                
                {{ e_form|crispy }}
                {{ ct_form|crispy }}
                {{ o_form|crispy }}
              {% elif user.is_school %}
                <h6 class="heading-small text-muted mb-4">學校聯絡資料</h6>
                  {{ u_form|crispy }}
                <h6 class="heading-small text-muted mb-4">學校其他資料</h6>
                  {{ school_profile_form|crispy }}
                {% endif %}
            </div>
            <button class="btn btn-outline-info" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- script of datepicker -->>
  <script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: false,
        multidate: true,
      };
      date_input.datepicker(options);
    })
  </script>
{% endblock %}