{% extends 'dash.html' %}
{% load static %}

{% block content %}
  <!-- Main content -->
  <div class="main-content" id="panel">
  <!-- Card stats -->
  {% if user.is_staff or user.is_school %}
  <div class="container">
    <div class="row" style="padding-left: 15px;">
      <a class="btn btn-darker btn-sm chart-legend text-lighter" href="{% url 'Iclass-create' %}" style="margin-top: 0.7rem; margin-bottom: -0.5rem;">新增興趣班</a>
    </div>
  </div>
  {% endif %}
  <br>
<div class="container">
  <div class="row" >
    {% for postclassNo in postclass %}
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row " style="height: 15rem;">
            <div class="col ">
              <img class="badge-circle" src="{{ postclassNo.author.profile.image.url }}">&nbsp
              <a href="{% url 'Iclass-detail' postclassNo.id %}" %}>課程名稱: {{ postclassNo.course_option }}</a>
              <p>學校: {{ postclassNo.author }}</p>
              <p style="margin-top: 1em;">{{ postclassNo.content|truncatewords:30 }}</p>
            </div>
          </div>
          <div>
            {% if postclassNo.status == 1 %}
            <span class="badge badge-success">Open</span>
            {% elif postclassNo.status == 2 %}
            <span class="badge badge-secondary">Close</span>
            {% elif postclassNo.status == 3 %}
            <span class="badge badge-warning">Waiting Approval</span>
            {% elif postclassNo.status == 4 %}
            <span class="badge btn-warning">Occupied</span>
            <a style="font-size: 0.7em;"> by {{ postclassNo.teacher.user.username }}</a>
            {% endif %}
          </div>
          
          <p style="margin-top: 1em; font-size: 0.5em;"> 
            Posted by {{ postclassNo.author }} on {{ postclassNo.date_posted|date:"F d, Y, P " }}
            <br>
            Last updated by {{ postclassNo.updated_by }} on {{ postclassNo.updated_at|date:"F d, Y, P " }}
          </p>
        
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% endblock %}